<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prytula.identifolibui">

    <application>
        <activity
            android:name="com.prytula.identifolibui.registration.IdentifoRegistrationActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.prytula.identifolibui.login.IdentifoLoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>